body{
  background-color: red;
}
.botonMenu{
  border-radius:5px;
  width:120px;
  height: 160px;
}
.titulo{
text-align: center;
}
.seccion{
  background-color: orange;
  text-align: center;
}
.logo{
  width: 150px;
  text-align: center;
<<<<<<< HEAD
}
=======
}#423F3F
>>>>>>> 8fd88643c297f808e905b906c9a64cb08c7625ba
